*{
	margin: 0px;
	padding: 0px;

}
.clr{
    background-color: #F1F1F3;
}

.container{

	width: 1280px;
	margin: 0px auto;
    
}


/* font */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* nav */

  nav{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;

  }

  nav h3{

    font-size: 32px;
  }

  nav button{
    background-color: transparent;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border: solid;
    border-color: #006A50;
    border-width: 1px;
    border-radius:8px ;
  }
  nav button:hover{
    background-color:#C6E4D6 ; 
  }

  /* banner */

  .banner{
    padding:80px 80px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    margin-bottom: 80px;
  }
  .banner-content{
    max-width: 622px;
  }
  .banner-title{
    font-size:24px;
    color:#6A7972;
    padding-bottom:16px;
 }
 .banner-text{
    font-size: 56px;
    color:#0e0e0e;
    padding-bottom:24px;
 }
 .banner button{
    color: #FFFFFF;
    background-color:#006A50 ;
    padding: 17px 34px;
    border: none;
    border-radius:8px ;
    
 }
 .banner button:hover{
    color: #006A50;
    background-color:transparent ;
    border: solid;
    border-width: 1px;

    
 }
 .banner-image img{
    max-width: 400px;
 }
 .one{
    margin-bottom: 80px;
 }

 .title{
    font-size: 40px;
    color: #0E0E0E;
 }
 .cards{
    display: flex;
    margin-top:32px;

    gap: 24px;

    
 }
 .card{

    padding: 24px;
    background-color:#FFFFFF ;
    border: solid;
    border-color:#d9d9d9 ;
    border-width: 1px;
    border-radius: 16px;
 }
 .card img{
    max-width: 64px;
    padding-bottom: 24px;
 }
 .card h3{
    font-size: 20px;
    color:#3E3E3E;
    padding-bottom: 12px;
 }
 .card p{
    font-size: 16px;
    color: #575757;
 }

 .two{
    margin-bottom: 80px;
 }
 .heading p{
    font-size: 16px;
    color:#575757;
    padding-top: 24px;

 } 
.card-one{
    padding: 32px;
    background-color:#9fc0f9 ;
    border: none;
    border-radius: 16px;
 }
 .card-one img{
    padding-bottom: 24px;
 }
 .card-one h3{
    font-size: 20px;
    color:#3E3E3E;
    padding-bottom: 12px;
 }
 .card-one p{
    font-size: 16px;
    color: #575757;
    padding-bottom: 24px;
 }
 .card-one button{
    font-size: 16px;
    color: #FFFFFF;
    padding:11px 20px ;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
 }
 .card-one button:hover{

    color: #FFFFFF;

    background-color: transparent;
    border: solid;
    border-color: #5490F5;
    border-radius: 8px;
 }
 .card-two{
    padding: 32px;
    background-color:#C6E4D6 ;
    border: none;
    border-radius: 16px;
 }
 .card-two img{
    padding-bottom: 24px;
 }
 .card-two h3{
    font-size: 20px;
    color:#3E3E3E;
    padding-bottom: 12px;
 }
 .card-two p{
    font-size: 16px;
    color: #575757;
    padding-bottom: 24px;
 }
 .card-two button{
    font-size: 16px;
    color: #FFFFFF;
    padding:11px 20px ;
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
 }
 .card-two button:hover{

    color: #09A15C;

    background-color: transparent;
    border: solid;
    border-color: #09A15C;
    border-radius: 8px;
 }
 .card-three{
    padding: 32px;
    background-color:#F7EBCF ;
    border: none;
    border-radius: 16px;
 }
 .card-three img{
    padding-bottom: 24px;
 }
 .card-three h3{
    font-size: 20px;
    color:#3E3E3E;
    padding-bottom: 12px;
 }
 .card-three p{
    font-size: 16px;
    color: #575757;
    padding-bottom: 24px;
 }
 .card-three button{
    font-size: 16px;
    color: #FFFFFF;
    padding:11px 20px ;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
 }
 .card-three button:hover{

    color: #FFC239;

    background-color: transparent;
    border: solid;
    border-color: #FFC239;
    border-radius: 8px;
 }
 .quote{
    margin-top: 32px;
    padding: 48px 24px;
    border: solid;
    background-color: #FFFFFF;
    border-radius: 16px;
    border-width: 1px;
    border-color:#d9d9d9 ;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
 }
 .txt{
    color: #3E3E3E ;
    font-size: 16px;
    padding-bottom: 12px;
 }
 .quote h3{
    color: #3E3E3E;
    font-size: 20px;
    padding-bottom: 2px;
 }
 .pos{
    font-size: 16px;
    color: #6E6E6E;
 }
 .opinion{
    margin-top: 24px;
    padding: 32px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 16px;
 }
 .three{
    margin-bottom: 80px;

 }
 .opinion table{
    border-collapse: collapse;
    width: 100%;
    
 }
 .up{
    padding: 24px;
    border-top:1px solid #C0C0C0;
    background-color: #C6E4D6;
    font-size: 20px;
 }
 .sr{
    padding: 24px;
    border-left: none;
    font-size: 20px;
    align-items: center;
 }
 
 .opinion table tr{
    display: flex;
    justify-content: space-between;
    
    border-bottom:1px solid #C0C0C0;
    border-left:1px solid #C0C0C0;
    border-right:1px solid #C0C0C0;
    border-collapse:initial;
    

 }
 .op{
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background-color: #C6E4D6;
    font-size: 16px;
 }
 .icn{
    padding-left: 12px;

 }

td{
    
    border-left:1px solid #C0C0C0;
    padding: 24px;
    
 }
 .opinion table tr th{
    
    display: flex;
    justify-content:stretch;
    
    
 }
 .four{
    margin-bottom: 80px;
 }
 .news{
    margin-top: 32px;
    
    
 }
 .news-txt h3{
    font-size: 32px;
    color: #3E3E3E;
    padding-bottom: 12px;
 }
 .news-txt .tm{
    font-size: 16px;
    color: #575757;
    padding-bottom: 12px;
 }
 .news-txt .ns{
    font-size: 16px;
    color: #575757;
    padding-bottom: 32px;
 }
 .news-txt img{
    padding-bottom: 12px;
 }
 .news-txt button{
    color: #FFFFFF;
    font-size: 18px;
    background-color:#006A50 ;
    padding: 17px 34px;
    border: none;
    border-radius:8px ;
    
 }
 .news-txt button:hover{
    color: #006A50;
    background-color:transparent ;
    border: solid;
    border-width: 1px;
    
 }
 .pic img{
    width: 408px;
    border-radius: 24px;

 }
 .news-l{
    padding: 48px;
    background-color: #FFFFFF;
    display: flex;
    gap: 32px;
    align-items:center;
    justify-content: space-between;
    border-radius:24px ;
 }
 .news-r{
    padding: 48px;
    background-color: #FFFFFF;
    display: flex;
    gap: 32px;
    align-items:center;
    justify-content: space-between;
    border-radius:24px ;
    margin-top: 24px;
    margin-bottom: 24px;
    
 }


 .five{
    text-align: center;
    margin-bottom:80px ;
 }
 .cardsd{
    display: flex;
    margin-top:32px;
    justify-items: center;
    justify-content: center;
    gap: 24px;
 }
 .card-donet{
    padding: 40px;
    background-color:#FFFFFF ;
    border: solid;
    border-color:#DBDBDB ;
    border-width: 1px;
    border-radius: 16px;
 }
 .card-donet h3{
    font-size: 40px;
 }
 .card-donet-co{
    padding: 40px;
    background-color:#C6E4D6 ;
    border: solid;
    border-color:#AAC4B8 ;
    border-width: 1px;
    border-radius: 16px;
 }
 .card-donet-co h3{
    font-size: 40px;
 }
 
 .don input{
    width: 70%;
    font-size: 20px;
    text-align: center;
    padding:20px 40px ;
    border: none;
    border-bottom: solid 1px #DBDBDB;
    margin-top: 32px;
    margin-bottom: 32px;
 }
 .don button{
    color: #FFFFFF;
    font-size: 18px;
    background-color:#006A50 ;
    padding: 17px 34px;
    border: none;
    border-radius:8px ;
    
 }
 .don button:hover{
    color: #006A50;
    background-color:transparent ;
    border: solid;
    border-width: 1px;
    
 }
 .six{
    margin-bottom: 80px;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    text-align: center;
 }
 .newsletter{
   
    max-width: 750px;
    margin: 0 auto;
 }
 .mwl-cnt h3{
    font-size: 40px;
    padding-bottom: 16px;
 }
 .mwl-cnt p{
    font-size: 16px;
    color: #464F4B;
    padding-bottom: 24px;
 }
 .nwm-frm p{
    font-size: 16px;
    color: #464F4B;
    padding-top: 24px;
 }

 .nwm-frm form{
    display: flex;
 }

 .nwm-frm form input[type="text"]{
    border: none;
    background: white;
    border-radius: 8px 0px 0px 8px;
    padding: 18px 40px; 
    font-size: 16px;
   
    width: 70%;
    
 }
 ::placeholder{
    color: #B7B7B7;
}
 .nwm-frm form input[type="submit"]{
    border: none;
    background: #006A50;
    border-radius: 0px 8px 8px 0px;
    padding: 18px 40px; 
    font-size: 18px;
    color: #FFFFFF;
    
 }
 .nwm-frm form input[type="submit"]:hover{
    border: none;
    background: #FFFFFF;
    border-radius: 0px 8px 8px 0px;
    padding: 18px 40px; 
    font-size: 18px;
    color: #006A50;
    
 }

 footer{
    background-color: #FFFFFF;
    padding: 50px 160px;


 }
 /* .nm{
    width: 1120px;
 } */

 .nm2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

 }

 .nm h3 {
    display: flex;
    font-size: 32px;
    justify-content: center;
    padding-bottom: 32px;
    
 }
 hr{
    border: 1px solid #E7E7E7;
 }

 .social{
    padding-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: center;
 }

 /* complete */